# Unit 01

Date: 2017-02-09

In [ ]:
# sum_square

In [1]:
# sum_square -> find square of sum of two number
54 + 73

127

In [ ]:
**first_num** and **second_num** are called variable

In [3]:
127**2

16129

In [17]:
first_num = 59
second_num = 87

In [29]:
square_of =(first_num + second_num) ** 2

In [30]:
print(square_of)

21316

In [22]:
pi = 3.14

In [24]:
area_of_circle = 2 * pi * (3 ** 2)

In [25]:
print(area_of_circle)

56.52

Python automatically converts **intergers** ( like *2* and *3* above ) to **float** ( like *3.14* )

In [37]:
name = "Harry Potter"

In [38]:
address = "London"

In [39]:
name + address

'Harry PotterLondon'

In [40]:
name * address

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
name * 4

'Harry PotterHarry PotterHarry PotterHarry Potter'

Incaseof string __*__ is called *repition operator*

In [42]:
78 - 90

-12

In [43]:
30 - 34.9

-4.899999999999999

In [45]:
# Division
2/3

0.6666666666666666

Real Division

In [46]:
2 //3

0

Integer Division

In [47]:
float (2)

2.0

Explicit Conversion

In [50]:
8 % 3

2